body{
    background: rgb(138, 154, 161);
    font: normal 15pt Arial;

}
header{
    color: white;
    margin: auto;
    text-align: center;
    font: normal 12pt Arial;

}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.26);
}
div{
    text-align: center;
    padding: 6px;   /* Espaçamento */
    background: white;
    width: 500px;
    text-align: center;
    margin: auto;
    
    
}
footer{
    color: white;
    text-align: center;
    font: italic 12pt Arial;
}